@font-face {
  font-family: "poppins";
  src: url(./assets/fonts/Poppins-Regular.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "poppins";
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
body {
  background-color: #000;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.app-con {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  padding: 3rem 0;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}

.response-mode {
  display: flex;
  align-items: center;
}

.switch-response-mode {
  padding: 0.5rem;
  overflow: hidden;
  cursor: pointer;
}

.switch-response-mode input {
  display: none;
}

.switch-response-mode label {
  float: left;
}

.switch-response-mode label {
  min-width: 1.25rem;
  background-color: #fff;
  color: #000;
  font-size: 0.87rem;
  padding: 0.5rem 1.1rem;
  transition: all 0.2s;
  cursor: pointer;
}

.switch-response-mode input:checked + label {
  background-color: #6308ff;
  color: #fff;
}

.switch-response-mode label:first-of-type {
  border-radius: 2.5rem 0 0 2.5rem;
}

.switch-response-mode label:last-of-type {
  border-radius: 0 2.5rem 2.5rem 0;
}

.recorder {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  width: 10rem;
  justify-content: center;
  transition: all 0.3s;
  padding: 0.4rem;
  background-color: #fff;
  border-radius: 4rem;
  width: 3.5rem;
}

.recorder p {
  color: #000;
}

.is-recording {
  width: 10rem;
}

.recorder-btn {
  border-radius: 50%;
  padding: 0.5rem;
  background-color: #6308ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recorder-btn svg {
  width: 1.8rem;
  height: 1.6rem;
}

.recorder .blink-on-recording {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #ff0000;
  animation: blink-animation 1s infinite;
}

@keyframes blink-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.response {
  padding: 1rem;
  height: 100%;
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#visualizer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.bar {
  background: #6308ff;
  bottom: 1px;
  height: 3px;
  width: 10px;
  margin: 0px 4px;
  border-radius: 5px;
  animation: sound 0ms -600ms infinite alternate-reverse;
}

@keyframes sound {
  0% {
    opacity: 0.35;
    height: 3px;
  }
  100% {
    opacity: 1;
    height: 70px;
  }
}

.bar:nth-child(1) {
  background: #fff;
  left: 1px;
  animation-duration: 474ms;
}
.bar:nth-child(2) {
  left: 15px;
  animation-duration: 433ms;
}
.bar:nth-child(3) {
  left: 29px;
  animation-duration: 407ms;
}
.bar:nth-child(4) {
  background: #fff;
  left: 43px;
  animation-duration: 458ms;
}
.bar:nth-child(5) {
  left: 57px;
  animation-duration: 400ms;
}
.bar:nth-child(6) {
  left: 71px;
  animation-duration: 427ms;
}
.bar:nth-child(7) {
  left: 85px;
  animation-duration: 441ms;
  background: #fff;
}
.bar:nth-child(8) {
  left: 99px;
  animation-duration: 419ms;
}
.bar:nth-child(9) {
  background: #fff;
  left: 113px;
  animation-duration: 487ms;
}
.bar:nth-child(10) {
  left: 127px;
  animation-duration: 442ms;
}

.isTyping {
  width: 48px;
  height: 48px;
  background: #fff;
  display: inline-block;
  border-radius: 50%;
  box-sizing: border-box;
  animation: animloader 1s ease-in infinite;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.assistant-response {
  color: #6308ff;
}

.isTyping-con {
  display: flex;
  justify-content: center;
  align-items: center;
}

.isTyping-con .isTyping {
  margin: 0;
}

.isTyping {
  margin-left: 1.5rem;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  background: #fff;
  box-shadow: -1rem 0 #fff, 1rem 0 #fff;
  animation: shadowPulse 2s linear infinite alternate;
}

@keyframes shadowPulse {
  33% {
    background: #fff;
    box-shadow: -1rem 0 #6308ff, 1rem 0 #fff;
  }
  66% {
    background: #6308ff;
    box-shadow: -1rem 0 #fff, 1rem 0 #fff;
  }
  100% {
    background: #fff;
    box-shadow: -1rem 0 #fff, 1rem 0 #6308ff;
  }
}

.error-message {
  color: red;
  width: 100%;
  text-align: center;
}

.assistant-default-text {
  width: 100%;
  text-align: center;
}
